# core dependencies
numpy>=1.20.0
torch>=2.5.1
torchvision>=0.20.1
matplotlib>=3.5.0
SimpleITK>=2.1.0
h5py>=3.6.0
opencv-python>=4.5.0
tqdm>=4.62.0
hydra-core>=1.3.0

# dor training
pyyaml>=6.0
scikit-learn>=1.0.0
scikit-image>=0.19.0

# for evaluation
medpy>=0.4.0  
psutil>=5.9.0 
